@model Customer
<div>
    <h3>
        @Model.FirstName @Model.LastName
</h3>
<div>@Model.PhoneNumber</div>
<div>@Model.Type</div>
<br />
<div>
    <a asp-action="@nameof(HomeController.Details)" asp-route-id="@Model.Id">Details</a>
    <a asp-action="@nameof(HomeController.Edit)" asp-route-id="@Model.Id">Edit</a>
</div>
</div>