@model Customer
<div>
    <span>@Model.Id</span>
    <span>@Model.FirstName</span>
    <span>@Model.LastName</span>
    <span>@Model.PhoneNumber</span>
    <span>
        <a asp-action="@nameof(HomeController.Details)" asp-route-id="@Model.Id">View</a>
        <a asp-action="@nameof(HomeController.Edit)" asp-route-id="@Model.Id">Edit</a>
    </span>
</div>