@using SimpleCrm.web.Controllers
@model SimpleCrm.Customer
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Simple CRM</title>
</head>
<body>
    <h1>@Model.LastName</h1>
    <div>
        @Model.Id   @Model.FirstName  @Model.LastName   @Model.PhoneNumber
    </div>
    <div>
        @Html.ActionLink("Back", nameof(HomeController.Index))
    </div>
</body>
</html>