@model HomePageViewModel
@{
    ViewBag.Title = "Index";
}
<h1>Customers</h1>
<p>
    @Model.CurrentMessage
</p>
<table>
    @foreach (var item in Model.Customers)
    {
        <tr>
            <td><a href="/home/@nameof(HomeController.Details)/@item.Id">Details</a></td>
            <td>@Html.ActionLink("View", nameof(HomeController.Details), new { id = item.Id })</td>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.PhoneNumber</td>
        </tr>
    }
</table>
@section footer {

}