@model HomePageViewModel
@{
    ViewBag.Title = "Index";
}
<h1>Customers</h1>
<p>
    @Model.CurrentMessage
</p>
<table>
    @foreach (var item in Model.Customers)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.PhoneNumber</td>
        <td>
            <a asp-action="@nameof(HomeController.Details)" asp-route-id="@item.Id">View</a>
            <a asp-action="@nameof(HomeController.Edit)" asp-route-id="@item.Id">Edit</a>
        </td>
    </tr>
    }
</table>

<a asp-action="Create">Create</a>
@section footer {

}