@model HomePageViewModel
@{
    ViewBag.Title = "Index";
}
<h1>Customers</h1>
<p>
    @Model.CurrentMessage
</p>
<table>
    @foreach (var item in Model.Customers)
    {
        <tr>
            <td><a asp-action="@nameof(HomeController.Details)" asp-route-id="@item.Id">View</a>
            </td>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.PhoneNumber</td>
        </tr>
    }
</table>

<a asp-action="Create" asp-controller="Home">Create</a>
@section footer {

}